  <app-page>
    
    <div class="d-flex flex-column">
        <!-- Top Bar -->
        <div
          class="global__top-bar d-flex align-items-center px-15px fs-18px font-weight-bold fc-default justify-content-between border-bottom border-color-grey"
        >
          <div class="d-flex align-items-center">
            <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>
            Connections
          </div>
        </div>
        <feed-create-post></feed-create-post>
        
        </div>
  </app-page>