  <app-page>
    
   
        <!-- Top Bar -->
        <div
          class="global__top-bar d-flex align-items-center px-15px fs-18px font-weight-bold fc-default justify-content-between border-bottom border-color-grey"
        >
          <div class="d-flex align-items-center">
            <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>
            Connections
          </div>
        </div>
        <div class="global__top-bar__height"></div>
        <feed-create-post></feed-create-post>
        <!-- Light Grey Divider -->
    <div class="w-100 border-bottom border-color-grey light-grey-divider" style="min-height: 10px"></div>
    <!--Tabs Menu-->
    <div class="container">
        <div class="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="global-tab" data-bs-toggle="tab" data-bs-target="#global" type="button" role="tab" aria-controls="global" aria-selected="true">Global Connections</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="local-tab" data-bs-toggle="tab" data-bs-target="#local" type="button" role="tab" aria-controls="local" aria-selected="false">Local</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="communications-tab" data-bs-toggle="tab" data-bs-target="#communications" type="button" role="tab" aria-controls="communications" aria-selected="false">Communications</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                    <div class="row row-cols-1 row-cols-lg-1 align-items-stretch g-4 py-5">
                        
                  
                        <div class="col">
                            <div class="user-intro-card card card-cover  overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-position: center; background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.68) 0%,rgba(116,28,28,0.61) 100%), url('../../assets/img/nft-hoe/nft-hoe-11.png'); background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.68) 0%,rgba(116,28,28,0.61) 100%), url('../../assets/img/nft-hoe/nft-hoe-11.png'); background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.68) 0%,rgba(116,28,28,0.61) 100%), url('../../assets/img/nft-hoe/nft-hoe-11.png'); background-image: linear-gradient(180deg,rgba(0,0,0,0.68) 0%,rgba(116,28,28,0.61) 100%), url('../../assets/img/nft-hoe/nft-hoe-11.png');">
                              <div class="d-flex flex-column text-white text-shadow-1">
                                <h2 class="user-intro-name display-6 lh-1 fw-bold">Amber Rose</h2>
                                  <span class="badge rounded-pill bg-info text-dark type-badge">Seeker</span>
                               <ul class="user-intro-info d-flex list-unstyled mt-auto">
                                  <li class="me-auto user-intro-avatar">
                                    <img src="../../assets/img/nft-hoe/nft-hoe-11.png" alt="UserName" width="32" height="32" class="me-2 rounded-circle">
                                  </li>
                                  <li class="d-flex align-items-center me-3 list-data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi me-2 bi-geo-fill" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"></path>
                                    </svg>
                                    <small>Philadelphia,PA</small>
                                  </li>
                                  <li class="d-flex align-items-center list-data">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi me-2 " viewBox="0 0 16 16">
                                      <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                      <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    </svg>
                                    <small>4min</small>
                                  </li>
                                    <li class="d-flex align-items-center  ">
                                        <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-info" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#userQrLinkModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                                   <path d="M2 2h2v2H2V2Z"></path>
                                   <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"></path>
                                  <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"></path>
                                  <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"></path>
                                  <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"></path>
                                </svg>
                                </button>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                  
                      </div>
                </div>
                <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">local tab</div>
                <div class="tab-pane fade" id="communications" role="tabpanel" aria-labelledby="communications-tab">communications</div>
              </div>
        </div>
    </div>
<!-- Modal -->

  </app-page>