  <app-page>
    
   
        <!-- Top Bar -->
        <div
          class="global__top-bar d-flex align-items-center px-15px fs-18px font-weight-bold fc-default justify-content-between border-bottom border-color-grey"
        >
          <div class="d-flex align-items-center">
            <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>
            Connections
          </div>
        </div>
        <div class="global__top-bar__height"></div>
        <feed-create-post></feed-create-post>
        <!-- Light Grey Divider -->
    <div class="w-100 border-bottom border-color-grey light-grey-divider" style="min-height: 10px"></div>
    <!--Tabs Menu-->
    <div class="tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="global-tab" data-bs-toggle="tab" data-bs-target="#global" type="button" role="tab" aria-controls="global" aria-selected="true">Global Connections</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="local-tab" data-bs-toggle="tab" data-bs-target="#local" type="button" role="tab" aria-controls="local" aria-selected="false">Local</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="communications-tab" data-bs-toggle="tab" data-bs-target="#communications" type="button" role="tab" aria-controls="communications" aria-selected="false">Communications</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                <div class="row row-cols-1 row-cols-lg-1 align-items-stretch g-4 py-5">
                    <div class="col">
                      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Date</h2>
                          <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto" style="margin-right: 10px;">
                              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                              <h3>UberName</h3>
                            </li>
                            <li class="d-flex align-items-center me-3" style="margin-right: 10px;">
                                <i class="bi bi-geo"></i>
                              <small>Philadelphia, PA</small>
                            </li>
                            <li class="d-flex align-items-center" style="margin-right: 10px;">
                                <i class="bi bi-clock"></i>
                              <small>5/10/22</small>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
              
                    <div class="col">
                      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                          <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                              <small>Pakistan</small>
                            </li>
                            <li class="d-flex align-items-center">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                              <small>4d</small>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
              
                    <div class="col">
                      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                          <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                              <small>California</small>
                            </li>
                            <li class="d-flex align-items-center">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                              <small>5d</small>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">local tab</div>
            <div class="tab-pane fade" id="communications" role="tabpanel" aria-labelledby="communications-tab">communications</div>
          </div>
    </div>

  </app-page>